.background-div{
  width: 100%;
  height: 427px;
  background-image: url("../../public/fond.png");
  background-size: revert;
  background-position: center center;
}

.background-degraded{
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), black);
  /* background: black; */
}